name: Build

on:
  pull_request: null
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up stable Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Attempt build
        run: go build
