name: Build

on:
  pull_request: null
  push:
    branches:
      - main

jobs:
  lint-build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up stable Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
      
      - name: Lint
        run: make lint

      - name: Attempt build
        run: make build
