name: Release

on:
  release:
    types: [created, edited]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up stable Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Lint
        run: make lint
      
      - name: Install GCC
        run: sudo apt install gcc-aarch64-linux-gnu

      - name: Package
        env:
          CGO_ENABLED: 1
          LINODE_TOKEN: ${{ secrets.DX_LINODE_TOKEN }}
        run: make build-ci

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./bin/kontainer-engine-driver-lke-darwin-amd64
          asset_name: kontainer-engine-driver-lke-darwin-amd64
          asset_content_type: application/octet-stream

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./bin/kontainer-engine-driver-lke-linux-amd64
          asset_name: kontainer-engine-driver-lke-linux-amd64
          asset_content_type: application/octet-stream

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./bin/kontainer-engine-driver-lke-linux-arm64
          asset_name: kontainer-engine-driver-lke-linux-arm64
          asset_content_type: application/octet-stream
