name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v1
        with:
          go-version: 1.17
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Run checks
        env:
          LINODE_TOKEN: ${{ secrets.LINODE_TOKEN }}
        run: |
          make
