name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up stable Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Lint
        run: make lint

      - name: Run checks
        env:
          LINODE_TOKEN: ${{ secrets.DX_LINODE_TOKEN }}
        run: make test
